.navbar-default {
  z-index: 2;
  // background-color: rgba(255,255,255, 0.3);
  background-color: transparent;
  // background-image: image-url('fond_granuleux_opacity.jpg');
  border: none;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
  .navbar-nav > li > a {
    color: white;
    background-color: $brand-color;
    // background-image: image-url('fond_granuleux_opacity.jpg');
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    margin: 10px;
    &:hover {
      color: white;
      background-color: $second-brand-color;
    }
  }
  .navbar-nav > li > form {
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    margin-top: 19px;
  }
  .navbar-nav > li > .btn {
    color: white;
    background-color: $brand-color;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    &:hover {
      color: white;
      background-color: $second-brand-color;
    }
  }
}

// .active {
//   background-color: transparent;
//   .navbar-nav > li > a {
//     background-color: transparent;
//     color: white;
//     text-shadow: 2px 2px 4px #000000;
//     &:hover {
//       font-weight: 800;
//       background-color: transparent;
//     }
//   }
// }

.logo-brand img {
  position: fixed;
  top: 5px;
  left: 15px;
  height: 100px;
  width: 100px;
  z-index: 3;
}

.social-logo {
  list-style-type: none;
  position: fixed;
  text-align: center;
  top: 43vh;
  left: 0px;
  z-index: 3;
}

.social-logo  a {
  // margin-top: 5px;
  // border-bottom: 1px solid $brand-color;
  display: block;
  background-color: #222222;
  height: 50px;
  width: 50px;
  border-radius: 0%;
  font-size: 20px;
  line-height: 50px;
  color: white;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    background-color: $brand-color;
  }
}
