header {
  // background-image: image-url('vintage_biker.png'), linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%);
  background: linear-gradient(-225deg, rgba(0, 101, 168, 0.6) 0%, rgba(0, 36, 61, 0.6) 50%) repeat scroll 0% 0%, transparent image-url('vintage_biker.png') repeat scroll 0% 0%;
  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  text-align: center;
  color: white;
}

.intro-text {
  padding-top: 40vh;
  padding-bottom: 15vh;
}

.intro-lead-in {
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 5vh;
}

.intro-heading {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  // text-shadow: 2px 2px 4px #000000;
}

.btn-submit {
  background-color: $brand-color;
  color: white;
  &:hover {
    color: white;
    background-color: $second-brand-color;
  }
}
